<div class="board">
  <div class="container">
    <h1>雲端場地</h1>
    <h2>讓租借場地變得更快速、簡單。</h2>
    <%= link_to '提供場地', new_space_path, class: 'btn-se' %>
    <span class="se_divider"></span>
    <%= link_to '瀏覽場地', '#', class: 'btn-se' %>
  </div>
</div>