<div class="board">
  <div class="container">
    <div class="slogn">
      規劃、租借場地…<br>
      將變得更快速、簡單
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <div class="btns">
      <%= link_to '提供場地', new_space_path, class: 'btn-se' %>
      <span class="se_divider"></span>
      <%= link_to '瀏覽場地', spaces_path, class: 'btn-se' %>
    </div>
    <br>
  </div>
</div>

<section class="line">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-4 col-xs-12">
            <div class="title">We can Help</div>
        </div>

        <div class="col-sm-8 col-xs-12">
            <div class="title-content less-margin">
                i-Rent 希望了解整個大型交易網站的流程，架構並創造獨特且方便之功能。我們平台為使用者分為兩大部分：一、提供場地者有上傳平面圖或自由繪製平面圖功能。為租借者提供依需求即時過濾場地功能，使網頁以使用者的各種需求來出發，我們希望建立出最符合需求的互動式網站。

            </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="line">
  <div class="container">
    <div class="row">

      <div class="col-sm-6">
        <div class="box">
          <header>
            <div class="title">
              <div class="oldal-icon grey-icon lg-icon">
                  <i class="fa fa-th fa-3"></i>
              </div>
              製作平面圖
            </div>
          </header>
          <div class="content lg-padded">
              刊登者：直覺設計獨一無二的平面圖刊登 場地簡單更美好。租借者：更容易看到刊登者的場地設計，平面圖一覽無遺。
          </div>
        </div>
      </div>


      <div class="col-sm-6">
        <div class="box">
          <header>
            <div class="title">
              <div class="oldal-icon grey-icon lg-icon">
                  <i class="fa fa-clock-o"></i>
              </div>
              時間規劃
            </div>
          </header>
          <div class="content lg-padded">
              刊登者：一隻手指就可以完成最完善的出租時間，規畫無壓力。租借者：可租借、已租借、審核中一次看清一次租借。
          </div>
        </div>
      </div>


      <div class="col-sm-6">
        <div class="box">
          <header>
            <div class="title">
              <div class="oldal-icon grey-icon lg-icon">
                  <i class="fa fa-user"></i>
              </div>
              後台管理
            </div>
          </header>
          <div class="content lg-padded">
              刊登者：可自由刊登，上下架場地，編輯場地。租借者 ：簡易的下標匯款資訊，與在線刊登者即時交流系統。交易可以更簡單！
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="box">
          <header>
            <div class="title">
              <div class="oldal-icon grey-icon lg-icon">
                  <i class="fa fa-check"></i>
              </div>
              簡單操作
            </div>
          </header>
          <div class="content lg-padded">
              刊登者：點擊滑鼠就可以完成最完善的場地設計，規畫無壓力。四大步驟完成刊登，簡單明瞭的操作，規劃是一種享受。
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="line"></section>

<footer class="simple-footer">

</footer>