<div class="container">



    <div class="board">
      <div class="slogn">
        <h1>雲端場地租借</h1>
        <span class="highlight">規劃</span>、<span class="highlight">租借場地</span>…<br>
        將變得更快速、簡單
      </div>

      <div class="btns">
        <%= link_to '<i class="fa fa-university"></i>&nbsp;提供場地'.html_safe, new_space_path, class: 'btn-se' %>
        <span class="se_divider"></span>
        <%= link_to '<i class="fa fa-search-plus"></i>&nbsp;瀏覽場地'.html_safe , spaces_path, class: 'btn-se' %>
      </div>
    </div>


  </div>
</div>


<ul class="cb-slideshow">
  <li><span>Image 01</span></li>
  <li><span>Image 02</span></li>
  <li><span>Image 03</span></li>
  <li><span>Image 04</span></li>
  <li><span>Image 05</span></li>
  <li><span>Image 06</span></li>
</ul>

<div class="simple-footer">
   © Copyright 2014 i-Rent Co., Ltd. All Rights Reserved.
</div>


<style>
  body {
    background: #000;
  }
</style>

