
// remove components outline
* {
  letter-spacing: 0.5px;
  // outline: none !important;
}

body {
  // margin: 0;
  // padding: 0;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
}

.login-wrapper {
  display: block;
  background: asset-url('bg-speech.jpg' ,image);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0%;
  left:0%;
  z-index: -1;
}


// breadcrumb
.now-step-bread {
  display: table;
  cursor: default;
  border-radius: 10px;
  list-style: none;
  margin: auto;
  overflow: hidden;
  padding: 15px 8px 8px 0px;
  width: 100%;
  // background: #e3e3e3;
  text-align: center;

  li {
    display: block;
    float: left;
    padding: 3px;
    margin-left: 3%;
    border-radius: 5px;
    border: 1px solid #ffffff;
  }

  .active {
    background: #e3e3e3;
    border-radius: 5px;
    padding: 3px;
    border: 1px solid #bfbfbf;
  }
}


.thumb_avatar {
  border-radius: 16px;
}

.navbar {
  background: white;
}

.navbar-nav > li > a {

  &:hover {
    background: #e3e3e3 !important;
  }
}

a.dropdown-toggle {
  padding-top: 10px !important;
  padding-bottom: 8px !important;
}


.cented {
  display: table;
  margin: 0 auto;
}


// main function
.main_function, .main_display {

  .sidebar, .show_sidebar {
    // text-align: center;
    border: 1px #7f7f7f dotted;
    display: block;
    width: 14%;
    height: 72vh;
    // background: #ffffff;
    // border: 1px solid #e3e3e3;
    float: left;
    overflow: auto;
  }

  ul {
    margin: 0;
    margin-left: 10px;
    padding: 5px 0 5px 0;
    list-style: none;
    cursor: default;
  }

  ul.father_holder {
    margin-left: 11%;
  }

  .sidebar_grandpa_name {
    border-bottom: 1px #7f7f7f dotted;
  }

  .sidebar_child_name {
    padding-left: 20px;
  }


  .editor, .selection_panel, .tmp_reader, .blocks_display, .selection_panel {
    position: relative;
    left: 10px;
    width: 85%;
    height: 72vh;
    margin-bottom: 10px;
    overflow: auto;
    background: asset-url('blueprint-dark.png', image);
    border: 1px solid #bfbfbf;
    float: left;
  }

  .editor {
    cursor:crosshair;
  }
}

.step_contro {
  margin-right: 0.1%;
  text-align: right;
}

.newdiv, .block-show {
  cursor: move;
  position: absolute;
  box-shadow: 1px 1px 1px rgba(20%,20%,40%,0.2);
  // border: 1px solid #ffffff;
  background: #f2f2f2;
  a {
    color: black;
    &:hover {
      text-decoration: none;
    }
  }
}

.namename {
  margin-left: 1px;
  border-radius: 2px;
  border: 1px solid #7f7f7f;
  background: #fff;
  color: black;
}


.father_block {
  // border: 1px solid #7f7f7f;
  box-shadow: 1px 1px 1px rgba(20%,20%,40%,0.2);
  background: #f2f2f2;
  margin: 20px;
  margin-bottom: 25px;
  padding-bottom: 25px;
  // width: 60%;
  a {
    color: black;
    &:hover {
      text-decoration: none;
    }
  }
}

.block_close {
  position: relative;
  top: -9px;
  cursor: pointer;
  font-size: 20px;
  float: right;
  font-weight: bold;
}


.block_edit, .block_info, .block_enter {
  margin-right: 5px;
  cursor: pointer;
  float: right;
}
// fcff62
// yellow board
.board {
  display: block;
  height: 100%;

  // background: asset-url('bg-teach.jpg', image);
  // background-attachment:fixed;

  background: -webkit-linear-gradient(left,rgba(0,0,0,0.8),rgba(0,0,0,0)), asset-url('bg-teach.jpg', image);
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;




  // text-shadow: 0 1px 3px #EEE;
  color: #ffffff;

  .slogn {
    letter-spacing: 5px;
    display: block;

    position: relative;
    // text-align: center;
    top: 257px;
    font-size: 25px;
  }

  .btns {
    text-align: right;
    position: relative;
  }



  .btn-se {
    display: inline-block;
    padding: 5px 30px;
    // box-shadow: #dcdf55 0 -2px 0 inset;
    font-size: 18px;
    border: 2px solid #ffffff;
    text-decoration: none;
    color: #ffffff;

    &:hover {
      -webkit-transition: all 0.2s linear;
      background: white;
      color: black;
    }

  }

  .se_divider {
    padding: 0 20px;
  }
}

.line {
  float: left;
  width: 100%;
  padding: 60px 0 0px;

  .box {
    float: left;
    width: 100%;
    .title {
      font-family: Open Sans, "Lantinghei TC", "Hiragino Kaku Gothic ProN", sans-serif;
      font-size: 22px;
      font-weight: 700;
      line-height: 28px;
      color: #202020;
      margin-bottom: 20px;
      margin-top: -80px;
      padding-left: 90px;

    }
    .content {
      float: left;
      width: 100%;
      font-family: Open Sans, "Lantinghei TC", "Hiragino Kaku Gothic ProN", sans-serif;
      font-size: 15px;
      font-weight: 400;
      line-height: 26px;
      color: #666666;
      margin-bottom: 50px;
    }
    .lg-padded {
      padding-left: 90px;
    }

    .oldal-icon {
      position: relative;
      right: 55px;
      top: 60px;
      width: 85px;
      height: 85px;
      font-size: 40px;
      line-height: 85px;
    }
  }

  .title {
    float: left;
    font-family: Open Sans, "Lantinghei TC", "Hiragino Kaku Gothic ProN", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: #dddddd;
    margin-bottom: 40px;
    font-weight: bold;
  }

  .title-content {
    font-family: Open Sans, "Lantinghei TC", "Hiragino Kaku Gothic ProN", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    color: #aaaaaa;
    margin-bottom: 40px;
  }

}

.signin-card {
  width: 400px;
  padding: 50px;
  background: #f7f7f7;
  margin: 150px auto 25px;
  border: #e0e0e0 1px solid;
  background: asset-url('center.png', image);
  // box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

// flash message
.flash_msg {
  display: block;
  position: fixed;
  padding: 10px;
  background: #3f3f3f;
  color: #bfbfbf;
  font-size: 15px;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  right: 5px;
  top: 55px;
  z-index: 999;
}

/* footer */

.simple-footer {
  float: left;
  width: 100%;
  background: #202020;
  padding: 100px;

  position: relative;
  left: 0;
  bottom: 0;
  z-index: -1;
}

// decision

.pic_warpper {
  display: table;
  margin: 40px auto;
  .pic_sel {
    font-size: 40px;
    margin: 10px;
    width: 300px;
    height: 200px;
  }

  .bg {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 2;
    top: 0;
    left: 0;
    opacity: 0.7;
  }

  .content {
    display: none;
    text-align: center;
    width: 500px;
    height: 200px;
    position: fixed;
    top: 50%;
    margin-top: -150px;
    background: #fff;
    z-index: 3;
    left: 50%;
    margin-left: -250px;
    padding: 20px;
  }

}

@media screen and (max-width: 768px) {


  .box {
    .title {
      position: relative !important;
      left: 30% !important;
      font-size: 2em !important;
    }
    .content {

    }

    .lg-padded {
      padding: 0 14px !important;
    }

    .oldal-icon {
      right: 70px !important;
      font-size: 2em !important;
    }
  }
}

@media screen and (max-width: 600px) {
  .box {
    .title {
      position: relative !important;
      left: 24% !important;
      font-size: 2em !important;
    }
    .content {

    }

    .lg-padded {
      padding: 0 14px !important;
    }

    .oldal-icon {
      right: 70px !important;
      font-size: 2em !important;
    }
  }
}

@media screen and (max-width: 500px) {
  .box {
    .title {
      position: relative !important;
      left: 20% !important;
      font-size: 2em !important;
    }
    .content {

    }

    .lg-padded {
      padding: 0 14px !important;
    }

    .oldal-icon {
      right: 70px !important;
      font-size: 2em !important;
    }
  }
}

@media screen and (max-width: 650px) {

  .signin-card {
    width: 80% !important;
  }

  .title {
    position: relative !important;
    left: 17% !important;
    font-size: 2em !important;
  }
  .slogn {
    letter-spacing: 5px;
    display: block;

    position: relative;
    // text-align: center;
    top: 100px !important;
    text-align: center;
    font-size: 40px !important;
  }

  .btns {
    text-align: center !important;
    bottom: 50px !important;
  }
}

@media screen and (max-width: 400px) {

  .box {
    .title {
      position: relative !important;
      left: 14% !important;
      font-size: 2em !important;
    }
    .content {

    }

    .lg-padded {
      padding: 0 14px !important;
    }

    .oldal-icon {
      right: 70px !important;
      font-size: 2em !important;
    }
  }
}

@media screen and (max-width: 451px) {
  .slogn {
    letter-spacing: 5px;
    display: block;

    position: relative;
    // text-align: center;
    top: 100px !important;
    text-align: center;
    font-size: 30px !important;
  }
}


@media screen and (max-width: 366px) {
  .btn-se {
    padding: 5px 10px !important;
  }

  .slogn {
    font-size: 20px !important;
  }
}