<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="top: 40px; background: #fff; z-index: 99; border: none">
  <div class="container">
    <ol class="now-step-bread">
      <li class="<%= is_active('create') %>">設定場地資料</li>
      <li>></li>
      <li class="<%= is_active('edit') %>">繪製場地平面圖</li>
      <li>></li>
      <li class="<%= is_active('detailize') %>">設定區塊資料</li>
      <li>></li>
      <li class="<%= is_active('show') %>">瀏覽場地</li>
    </ol>
  </div>
</nav>